# This workflow runs ScaleHD tests to check if changes in code or dependency versions affect the output
# It triggers on push, pull request, and monthly schedule
# Builds a public Docker image of ScaleHD tagged 'test' using the latest version of ScaleHD from the master branch on github
# mlwood1/scalehd:latest runs ScaleHD on a minimal data set and compares the actual output with an expected output
# Pushes the Docker image to dockerhub as mlwood1/scalehd:test

name: Build and Test ScaleHD

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1 * *'  # At 00:00 on day 1 of every month
  workflow_dispatch: 
  
permissions:
  issues: write

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Pull Docker image
        run: docker pull mlwood1/scalehd:latest

      - name: Run ScaleHD tests
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/app \
            -w /app \
            mlwood1/scalehd:latest bash ./ContinuousTesting/run_scalehd_tests.sh

      - name: Push image to Docker Hub
        run: |
          docker tag mlwood1/scalehd:latest mlwood1/scalehd:latest
          docker push mlwood1/scalehd:test

